<div class="row">
    <div class="col-4">
        <div class="row">
            <h1>File upload</h1>
            <img [src]="url" height="auto">
        </div>
        <div class="row">
            <input type="file" (change)="onFileSelected($event)"/>
            <button type="button" (click)="onUpload()">Upload</button>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <div class="row">
            <label for="name">Name: </label>
            <input id="name" type="text" [formControl]="name"/>
        </div>
        <div class="row">
            <p>Value: {{ name.value }}</p>
        </div>
    </div>
</div>